$mainTextColor: #fff;
$secondaryTextColor: gold;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: maroon;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: $mainTextColor;
}

h2,
h3,
h4,
p {
    color: $secondaryTextColor;
}